body {
    background: linear-gradient( rgba(243, 245, 252, 1), rgb(184, 183, 238));
    width: auto;
    margin: 0;
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: 4fr 440px;
    grid-template-rows: 1fr 3fr 10%;
    min-height: 100vh;
}

.header img {
    margin: 40px 80px 0px;
}

.main {
    margin: 0 40px 40px 40px;
    justify-self: center;
    width: 680px;
    grid-column: 1/2;
}

.encriptador {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    color: rgba(10, 56, 113, 1);
    overflow: auto;
    resize: none;
    width: 680px;
    height: auto;
    font-size: 32px;
    background-color: transparent;
    border: none;
    scrollbar-width: thin;
    scrollbar-color: rgba(10, 56, 113, 1) white;
}

.encriptador::placeholder {
    color: rgba(10, 56, 113, 1);
}

.encriptador:focus{
    outline: none;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.advertencia {
    margin: px 0px;
    width: 229px;
    height: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    justify-content: center;
}

.advertencia img {
    width: 16px;
    height: 16px;
}

.advertencia span {
    font-size:12px;
    line-height: 18px;
    font-weight: 400;
    opacity: 80%;
    color: rgba(73, 80, 87, 1);
}

.botones {
    display: flex;
    gap: 24px;
}

.botones :first-child {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 19.36px;
    background-color: rgba(10, 56, 113, 1);
    border: 2px solid transparent;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
    transition: .5s;
}

.botones :first-child:hover {
    color: rgb(184, 183, 238);
    border: 2px solid rgb(184, 183, 238);
}

.botones :first-child:active {
    transition: 0s;
    opacity: 80%;
    border-style: solid;
    border: 2px solid black;
    color: black;
}

.boton-2 {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 19.36px;
    background-color: rgba(10, 56, 113, 1);
    border: 2px solid transparent;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
    transition: .5s;
}

.boton-2:hover {
    color: rgb(184, 183, 238);
    border: 2px solid rgb(184, 183, 238);
}

.boton-2:active {
    transition: 0s;
    opacity: 80%;
    border-style: solid;
    border: 2px solid black;
    color: black;
}

.botones :last-child:disabled {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 19.36px;
    border: 2px solid transparent;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    transition: .5s;
    background: rgb(179, 193, 197);
    cursor:default;
    color: white;
}

.aside {
    width: auto;
    grid-column: 2/4;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 1fr 193px 70px 70px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background: white;
    border-radius: 32px;
    margin: 40px 40px 40px 0;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.aside textarea {
    grid-row: 1/3;
    font-family: "Inter", sans-serif;
    border: none;
    margin: 32px;
    resize: none;
    width: 336px;
    height: auto;
    color: rgba(73, 80, 87, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    scrollbar-width: thin;
    scrollbar-color: rgba(10, 56, 113, 1) white;
}

.aside textarea:focus {
    outline: none;
}

.aside button {
    grid-row: 3/5;
    align-self: flex-end;
    justify-self: center;
    min-height: 67px;
    color: rgba(10, 56, 113, 1);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    width: 336px;
    border: 1px solid rgba(10, 56, 113, 1);
    border-radius: 24px;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 32px;
}

.aside button:hover {
    border: 1px solid rgb(184, 183, 238);
    color: rgb(184, 183, 238);
}

.aside button:active {
    transition: 0s;
    opacity: 60%;
    color: black;
    border: 1px solid black;
}

.aside :nth-child(3) {
    grid-row: 1/3;
    align-self: center;
    width: 336px;
    height: 304px;
}

.aside :nth-child(4) {
    grid-row: 3/4;
    margin: 0;
    text-align: center;
    color: rgba(52, 58, 64, 1);
    width: 336px;
    height: 58px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
}

.aside :last-child {
    grid-row: 4/5;
    grid-column: 1/2;
    margin: 0;
    text-align: center;
    color: rgba(73, 80, 87, 1);
    width: 336px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(187, 186, 240);
    box-shadow: 0 -5px 100px -20px white;
}

.ray {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 45px;
    transition: .5s;
    border: 2px solid transparent;
}

.ray:hover {
    transform: scale(1.2);
    box-shadow: 0 50px 32px -8px rgba(0, 0, 0, 0.08);
}

.ray img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.ray p {
    margin-right: 10px;
}

.linkedin img {
    width: 48px;
    height: 48px;
    transition: .5s;
}

.linkedin img:hover {
    transform: scale(1.3);
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.linkedin img:active {
    transition: 0s;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
    opacity: 60%;
}

.github img {
    width: 37px;
    height: 37px;
    transition: .5s;
}

.github img:hover {
    transform: scale(1.3);
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.github img:active {
    transition: 0s;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
    opacity: 60%;
}

@media (700px <= width <= 1200px) {
    body {
        width: auto;
        margin: 0;
        font-family: "Inter", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header {
        width: 680px;
        margin-bottom: 40px;
    }

    .header img {
        margin: 40px 0;
    }

    .main {
        margin: 0 40px;
        justify-self: center;
        width: 680px;
    }

    .input-encriptador {
        display: flex;
        flex-direction: row;
    }
    
    .input-encriptador textarea {
        font-family: "Inter", sans-serif;
        color: rgba(10, 56, 113, 1);
        overflow: auto;
        resize: none;
        width: 680px;
        height: auto;
        font-size: 32px;
        background-color: transparent;
        border: none;
        scrollbar-width: auto;
        scrollbar-color: rgba(10, 56, 113, 1) white;
    }
    
    .input-encriptador textarea::placeholder {
        color: rgba(10, 56, 113, 1);
    }
    
    .input-encriptador textarea:focus{
        outline: none;
    }
    
    .contenedor {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .advertencia {
        margin: px 0px;
        width: 229px;
        height: 18px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: auto;
        justify-content: center;
    }
    
    .advertencia img {
        width: 16px;
        height: 16px;
    }
    
    .advertencia span {
        font-size:12px;
        line-height: 18px;
        font-weight: 400;
        opacity: 80%;
        color: rgba(73, 80, 87, 1);
    }
    
    .botones {
        display: flex;
        gap: 24px;
    }
    
    .botones :first-child {
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 19.36px;
        background-color: rgba(10, 56, 113, 1);
        border: 2px solid transparent;
        width: 328px;
        height: 67px;
        border-radius: 24px;
        cursor: pointer;
        transition: .5s;
    }
    
    .botones :first-child:hover {
        border: 2px solid rgb(184, 183, 238);
    }
    
    .botones :first-child:active {
        color: black;
        transition: 0s;
        opacity: 80%;
        border: 2px solid black;
    }
    
    .boton-2 {
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 19.36px;
        background-color: rgba(10, 56, 113, 1);
        border: 2px solid transparent;
        width: 328px;
        height: 67px;
        border-radius: 24px;
        cursor: pointer;
        transition: .5s;
    }
    
    .boton-2:hover {
        color: rgb(184, 183, 238);
        border: 2px solid rgb(184, 183, 238);
    }
    
    .boton-2:active {
        transition: 0s;
        opacity: 80%;
        border-style: solid;
        border: 2px solid black;
        color: black;
    }
    
    .botones :last-child:disabled {
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 19.36px;
        border: 2px solid transparent;
        width: 328px;
        height: 67px;
        border-radius: 24px;
        transition: .5s;
        background: rgb(179, 193, 197);
        cursor:default;
        color: white;
    }
    
    .aside {
        width: 688px;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white no-repeat;
        border-radius: 32px;
        margin: 40px;
        box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
    }
    
    .aside textarea {
        border: none;
        margin: 32px;
        resize: none;
        width: 624px;
        height: 180px;
        color: rgba(73, 80, 87, 1);
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        scrollbar-width: thin;
        scrollbar-color: rgba(10, 56, 113, 1) white;
    }
    
    .aside textarea:focus {
        outline: none;
    }
    
    .aside button {
        justify-self: flex-end;
        align-self: center;
        color: rgba(10, 56, 113, 1);
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 19.36px;
        width: 624px;
        height: 67px;
        border: 1px solid rgba(10, 56, 113, 1);
        border-radius: 24px;
        margin-bottom: 32px;
        cursor: pointer;
    }

    .aside button:active {
        transition: 0s;
        opacity: 60%;
        color: black;
        border: 1px solid black;
    }

    .aside div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 4px;
        width: 624px;
        height: 124px;
    }
    
    .aside :nth-child(3) {
        width: 0;
        height: 0;
    }

    .aside :nth-child(4) {
        margin: 32px 0 0 0;
        width: auto;
        height: 29px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
    }
    
    .aside :last-child {
        margin: 16px 0 32px 0;
        width: auto;
        height: 24px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    
    .footer {
        padding: 11.35px;
        width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background-color: rgb(187, 186, 240);
        box-shadow: 0 -30px 100px -20px white;
    }
    
    .ray {
        width: auto;
        height: 40px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: white;
        border-radius: 45px;
        transition: .5s;
        border: 2px solid transparent;
    }
    
    .ray:active {
        transform: scale(1.2);
        box-shadow: 0 50px 32px -8px rgba(0, 0, 0, 0.08);
    }
    
    .ray img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    
    .ray p {
        margin-right: 10px;
    }
    
    .linkedin img {
        width: 48px;
        height: 48px;
        transition: .5s;
    }
    
    .linkedin img:active {
        transform: scale(1.3);
        box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
        opacity: 60%;
    }
    
    .github img {
        width: 37px;
        height: 37px;
        transition: .5s;
    }

    .github img:active {
        transform: scale(1.3);
        box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
        opacity: 60%;
    }
}

@media (width < 700px) {
    body {
        margin: 0;
        font-family: "Inter", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    .header {
        width: 343px;
        margin-bottom: 40px;
    }

    .header img {
        margin: 40px 0;
    }

    .main {
        margin: 0 40px;
        justify-self: center;
        width: 343px;
    }

    .encriptador {
        display: flex;
        flex-direction: row;
    }
    
    .encriptador{
        font-family: "Inter", sans-serif;
        color: rgba(10, 56, 113, 1);
        overflow: auto;
        resize: none;
        width: 343px;
        height: auto;
        font-size: 32px;
        background-color: transparent;
        border: none;
        scrollbar-width: thin;
        scrollbar-color: rgba(10, 56, 113, 1) white;
    }
    
    .encriptador::placeholder {
        color: rgba(10, 56, 113, 1);
    }
    
    .encriptador:focus{
        outline: none;
    }
    
    .contenedor {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .advertencia {
        margin: px 0px;
        width: 229px;
        height: 18px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: auto;
        justify-content: center;
    }
    
    .advertencia img {
        width: 16px;
        height: 16px;
    }
    
    .advertencia span {
        font-size:12px;
        line-height: 18px;
        font-weight: 400;
        opacity: 80%;
        color: rgba(73, 80, 87, 1);
    }
    
    .botones {
        gap: 24px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .botones :first-child {
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 19.36px;
        background-color: rgba(10, 56, 113, 1);
        border: 2px solid transparent;
        width: 343px;
        height: 67px;
        border-radius: 24px;
        cursor: pointer;
        transition: .5s;        
    }
    
    .botones :first-child:hover {
        border: 2px solid rgb(184, 183, 238);
    }
    
    .botones :first-child:active {
        transition: 0s;
        opacity: 80%;
        border: 2px solid black;
    }
    
    .boton-2 {
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 19.36px;
        background-color: rgba(10, 56, 113, 1);
        border: 2px solid transparent;
        width: 343px;
        height: 67px;
        border-radius: 24px;
        cursor: pointer;
        transition: .5s;
    }
    
    .boton-2:hover {
        color: rgb(184, 183, 238);
        border: 2px solid rgb(184, 183, 238);
    }
    
    .boton-2:active {
        transition: 0s;
        opacity: 80%;
        border-style: solid;
        border: 2px solid black;
        color: black;
    }
    
    .botones :last-child:disabled {
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 19.36px;
        border: 2px solid transparent;
        width: 343px;
        height: 67px;
        border-radius: 24px;
        transition: .5s;
        background: rgb(179, 193, 197);
        cursor:default;
        color: white;
    }
    
    .aside {
        display: flex;
        flex-wrap: wrap;
        width: 327px;
        justify-items: center;
        align-items: center;
        background: white no-repeat;
        border-radius: 32px;
        margin: 40px;
        box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
    }
    
    .aside textarea {
        border: none;
        margin: 32px;
        resize: none;
        width: 279px;
        height: 432px;
        color: rgba(73, 80, 87, 1);
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        scrollbar-width: thin;
        scrollbar-color: rgba(10, 56, 113, 1) white;
    }
    
    .aside textarea:focus {
        outline: none;
    }
    
    .aside button {
        color: rgba(10, 56, 113, 1);
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 19.36px;
        width: 279px;
        height: 67px;
        border: 1px solid rgba(10, 56, 113, 1);
        border-radius: 24px;
        margin-bottom: 32px;
        cursor: pointer;
        transition: .5s;
    }

    .aside button:active {
        transition: 0s;
        opacity: 60%;
        color: black;
        border: 1px solid black;
    }
    
    .aside :nth-child(3) {
        width: 0;
        height: 0;
    }

    .aside :nth-child(4) {
        margin-top: 32px;
        width: auto;
        height: 58px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
    }
    
    .aside :last-child {
        margin: 16px 32px 32px 32px;
        width: auto;
        height: 48px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    
    .footer {
        padding: 15px;
        width: 700px;
        background-color: rgb(184, 183, 238);
        display: grid;
        grid-template-columns: 120px 120px;
        grid-template-rows: 1fr 1fr;
        place-content: center;
        gap: 10px 0;
        align-items: center;   
        justify-items: center;
        background-color: rgb(187, 186, 240);
        box-shadow: 0 -5px 100px -20px white;   
    }
    
    .ray {
        grid-column: 1/3;
        height: 40px;
        background-color: white;
        border-radius: 45px;
        transition: .5s;
        border: 2px solid transparent;
    }
    
    .ray:active {
        transform: scale(1.2);
        box-shadow: 0 50px 32px -8px rgba(0, 0, 0, 0.08);
    }
    
    .ray img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    
    .ray p {
        text-align: center;
        margin-right: 10px;
    }
    
    .linkedin img {
        width: 48px;
        height: 48px;
        transition: .5s;
    }
    
    .linkedin img:active {
        transform: scale(1.3);
        box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
        opacity: 60%;
    }
    
    .github img {
        width: 37px;
        height: 37px;
        transition: .5s;
    }

    .github img:active {
        transform: scale(1.3);
        box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
        opacity: 60%;
    }
}
